<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Properties -->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <!--value>classpath*:application.properties</value-->
                <!--value>file:/opt/demo/config/application.properties</value-->
                <value>/WEB-INF/application.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="false" />
        <property name="properties" ref="configProperties" />
    </bean>
    
    <!-- include others -->
    <import resource="mvcContext.xml"/>
    <import resource="persistenceContext.xml"/>
    <import resource="securityContext.xml"/>
    
    <!-- Jedis -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
    </bean>
    <bean id="myJedisPool" class="redis.clients.jedis.JedisPool">
    	<constructor-arg index="0" ref="jedisPoolConfig"></constructor-arg>
    	<constructor-arg index="1" type="String"><value>${redis.host.front}</value></constructor-arg>
    	<constructor-arg index="2" type="int"><value>${redis.port.front}</value></constructor-arg>
    </bean>
</beans>